{% extends "layout.html" %}

{% block content %}
<div class="content-section">
    <h1 class="article-metadata">About</h1>
        <p>
          This site, for now, compares twitter sentiment to stock performance over the past few days (all I can do for free). When a valid stock ticker is entered, the chart generated shows a calculated Twitter sentiment value for the stock(ranging from -1 to 1, with higher being more positive), as well as that stock's price, over the past 5 days excluding the current day and day before. Reddit sentiment analysis and longer-term Twitter analysis is also in the works. The source code for my project can be found at my Github: rohangx0072.
        </p>
  </div>
{% endblock content%}